In [7]:
import string 
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import json
try: import spacy   
except: import spacy
from spacy import displacy
name = 'finance_course1'
JSON_path = '/home/ubuntu/Questions_generation/Financial Markets Course 2.json'


with open(JSON_path) as f:
  result = json.load(f)

sections = [s['summary']['text'] if 'summary' in s.keys() and 'text' in s['summary'].keys() else None for k,s in result['sections'].items() ]
org_text = [s['original']['text'] if 'original' in s.keys() and 'text' in s['original'].keys() else None  for k,s in result['sections'].items() ]


with open('/home/ubuntu/Questions_generation/outputs/03_01_23_finance_course2/questions.txt') as f:
    text = f.read()
text = text.replace('\nQ:','.\n ').replace('\nA:',' ').replace ('--------------------------------------------------','').split('.')

text = org_text
#text = "what year Israel was established? 1948"
nlp = spacy.load("en_core_web_sm")
if isinstance(text,list):
    doc= nlp("\n".join(text))
else:
    doc =nlp(text)

#displacy.render(doc, style="ent")
#displacy.render(doc, style='dep')

def remove_stop_words(text):
    tokens = word_tokenize(text)
    punct_or_stopwords = set([*stopwords.words('english'), *string.punctuation])
    return " ".join([token for token in tokens if token.lower() not in punct_or_stopwords])
def only_ents(text,doc):
    ans_idx = text.find('?')+2
    filtered_ans = remove_stop_words(text[ans_idx:])
    print(filtered_ans)
    return any([filtered_ans.strip() == cur_ent.text for cur_ent in doc.ents])
for ent in doc.ents:
    print(ent.text, ent.start_char, ent.end_char, ent.label_)
'''
text = "what year Israel was established? few years after 1948."
doc =nlp(text)

print(only_ents(text,doc))
displacy.render(doc, style='dep')
displacy.render(nlp('few years after 1948'), style='dep',jupyter=True)'''

today 317 322 DATE
2007 430 434 DATE
the Great Depression of the 1930's 529 563 EVENT
one 656 659 CARDINAL
around 2000 1596 1607 DATE
2000 1709 1713 DATE
2003 1751 1755 DATE
2007 2026 2030 DATE
the United Kingdom 2121 2139 GPE
Northern Rock 2141 2154 GPE
1930 2192 2196 DATE
the United States 2261 2278 GPE
today 2680 2685 DATE
Tomorrow 3386 3394 DATE
today 3459 3464 DATE
two 3824 3827 CARDINAL
One 3906 3909 CARDINAL
1600 4384 4388 DATE
the year 1600 4430 4443 DATE
0.5 4480 4483 CARDINAL
millions 4969 4977 CARDINAL
millions 5230 5238 CARDINAL
two weeks 6393 6402 DATE
Elan Fuld 6891 6900 ORG
one 6902 6905 CARDINAL
ROBERT SHILLER 7143 7157 PERSON
a year 7306 7312 DATE
months 7329 7335 DATE
a day 7352 7357 DATE
these months 7381 7393 DATE
monthly 7410 7417 DATE
these months 7448 7460 DATE
the first month 7470 7485 DATE
second month 7501 7513 DATE
two 7524 7527 CARDINAL
3 7572 7573 CARDINAL
month three 7603 7614 DATE
the beginning of the month 7638 7664 DATE
1 7769 7770 CARDINAL
less than minus 100% 8261 8281 PERCENT
between minus 100% 8450 8468 PERCENT
between zero 8530 8542 CARDINAL
1 9400 9401 CARDINAL
zero 9432 9436 CARDINAL
two 10146 10149 CARDINAL
x. 10364 10366 ORG
1 10553 10554 CARDINAL
x. So 10783 10788 ORG
annual 10896 10902 DATE
first 10964 10969 ORDINAL
first 11193 11198 ORDINAL
10 11311 11313 CARDINAL
ten years 11315 11324 DATE
each year 11358 11367 DATE
10 11395 11397 CARDINAL
nth 11832 11835 ORDINAL
nth 12181 12184 ORDINAL
50% 12650 12653 PERCENT
one year 12654 12662 DATE
30% 12671 12674 PERCENT
another year 12675 12687 DATE
one bad year 12715 12727 DATE
minus 100% 12733 12743 PERCENT
50% 12829 12832 PERCENT
one year 12833 12841 DATE
30% 12852 12855 PERCENT
another year 12856 12868 DATE
minus 100% 12947 12957 PERCENT
0 12994 12995 CARDINAL
0 13087 13088 CARDINAL
0 13105 13106 CARDINAL
0 13110 13111 CARDINAL
nth 13128 13131 ORDINAL
zero 13140 13144 CARDINAL
0 13168 13169 CARDINAL
minus 100% 13221 13231 PERCENT
0 13260 13261 CARDINAL
a good year 13648 13659 DATE
a bad year 13688 13698 DATE
minus 1% 14688 14696 PERCENT
8% 14760 14762 PERCENT
minus 1% 14788 14796 PERCENT
1 14826 14827 CARDINAL
1 14911 14912 CARDINAL
1 15034 15035 CARDINAL
x. 15230 15232 ORG
ten years 15374 15383 DATE
the ten years 15417 15430 DATE
10 15471 15473 CARDINAL
minus 1 15562 15569 DATE
two 15795 15798 CARDINAL
two 15852 15855 CARDINAL
y. So 15890 15895 PERSON
the IBM Corporation 15928 15947 ORG
General Motors Corporation 15972 15998 ORG
IBM 16025 16028 ORG
General Motors 16043 16057 ORG
two 16112 16115 CARDINAL
GM 16451 16453 ORG
IBM 16476 16479 ORG
0 16817 16818 CARDINAL
IBM 17004 17007 ORG
GM 17054 17056 ORG
0 17133 17134 CARDINAL
two 17284 17287 CARDINAL
minus 1 17371 17378 CARDINAL
1 17387 17388 CARDINAL
two 17418 17421 CARDINAL
1 17578 17579 CARDINAL
two 17588 17591 CARDINAL
1 17614 17615 CARDINAL
one 17673 17676 CARDINAL
5% 17686 17688 PERCENT
5% 17713 17715 PERCENT
zero 17910 17914 CARDINAL
two 17996 17999 CARDINAL
zero 18060 18064 CARDINAL
two 18097 18100 CARDINAL
first 18141 18146 ORDINAL
second 18189 18195 ORDINAL
two 18275 18278 CARDINAL
zero 18352 18356 CARDINAL
2000 to 2010 18923 18935 DATE
U.S. 18943 18947 GPE
2000 to 2002 19075 19087 DATE
2003 19091 19095 DATE
2007 19137 19141 DATE
2009 19145 19149 DATE
over years 19254 19264 DATE
2000 19715 19719 DATE
2002 19724 19728 DATE
the period 2003 to 2006 19769 19792 DATE
Model 19916 19921 ORG
the United States 20291 20308 GPE
1987 20312 20316 DATE
one day 20389 20396 DATE
1987 20441 20445 DATE
Value 20538 20543 PERSON
first 20599 20604 ORDINAL
Value 20705 20710 PERSON
1987 20754 20758 DATE
5% 20876 20878 PERCENT
$10 million 20909 20920 MONEY
Value 20968 20973 PERSON
Value 21159 21164 PERSON
only 5% 21304 21311 PERCENT
$10 million 21331 21342 MONEY
the Value at Risk 21829 21846 ORG
One 22102 22105 CARDINAL
1 22621 22622 MONEY
100 22662 22665 CARDINAL
0 22899 22900 CARDINAL
Aristotle 23261 23270 PERSON
two 23730 23733 CARDINAL
the beginning of the 20th century 23746 23779 DATE
0 24017 24018 CARDINAL
one 24410 24413 CARDINAL
one 24542 24545 CARDINAL
n. So 24587 24592 PERSON
0 24671 24672 CARDINAL
years 24820 24825 DATE
VaR 25192 25195 PERSON
1987 25204 25208 DATE
'87 25257 25260 DATE
CoVaR. 25338 25344 ORG
Princeton 25407 25416 ORG
Value 25532 25537 PERSON
Value at Risk 25761 25774 ORG
one 26045 26048 CARDINAL
one 26060 26063 CARDINAL
Apple 26086 26091 ORG
the year 2000 26132 26145 DATE
the first decade of the twentieth century 26162 26203 DATE
a minute 26300 26308 TIME
almost half 26558 26569 CARDINAL
40% 26595 26598 PERCENT
between 2000 and 2002 26599 26620 DATE
almost 50% 26681 26691 PERCENT
Apple 26740 26745 ORG
Apple 26793 26798 ORG
100 26977 26980 CARDINAL
the year 2000 26984 26997 DATE
Apple 27040 27045 ORG
the S & P 500 27089 27102 ORG
Apple 27146 27151 ORG
25 27239 27241 CARDINAL
Apple 27293 27298 ORG
2005 27311 27315 DATE
Apple 27316 27321 ORG
2 27328 27329 CARDINAL
the United States 27385 27402 GPE
about $30 27427 27436 MONEY
30 27490 27492 MONEY
60 27549 27551 MONEY
two 27626 27629 CARDINAL
30 27657 27659 MONEY
Apple 27661 27666 ORG
the day 27832 27839 DATE
Apple 27980 27985 ORG
25 27994 27996 CARDINAL
the S & P 500 28029 28042 ORG
monthly 28138 28145 DATE
Apple 28157 28162 ORG
two 28270 28273 CARDINAL
the S & P 500 28278 28291 ORG
Apple 28299 28304 ORG
Apple 28510 28515 ORG
25-fold 28524 28531 CARDINAL
months 28668 28674 DATE
months 28685 28691 DATE
the months 28745 28755 DATE
Apple 28882 28887 ORG
Buy Apple 28947 28956 PERSON
25-fold 28983 28990 CARDINAL
ten years ago 29067 29080 DATE
400,000 29162 29169 MONEY
Apple 29210 29215 ORG
today 29256 29261 DATE
second 29391 29397 ORDINAL
400,000 29429 29436 MONEY
today 29506 29511 DATE
$10 million 29513 29524 MONEY
ten years 29600 29609 DATE
$10 million 29646 29657 MONEY
all those years 29707 29722 DATE
25-fold 29864 29871 CARDINAL
every month 29959 29970 DATE
30% 30022 30025 PERCENT
one month 30029 30038 DATE
30% 30049 30052 PERCENT
another month 30056 30069 DATE
one month 30221 30230 DATE
last night 30282 30292 TIME
Yale 30299 30303 ORG
New York City 30321 30334 GPE
Peter Salovey 30355 30368 PERSON
Yale 30386 30390 ORG
Yale 30546 30550 ORG
1979 30578 30582 DATE
Yale 30588 30592 ORG
1954 30602 30606 DATE
25th 30613 30617 ORDINAL
Yale 30895 30899 ORG
Yale 30921 30925 ORG
50th 30933 30937 ORDINAL
Joe McNay 31026 31035 PERSON
375,000 31083 31090 MONEY
one 31102 31105 CARDINAL
1954 31150 31154 DATE
Joe McNay 31183 31192 PERSON
375,000 31196 31203 MONEY
Joe McNey 31368 31377 PERSON
Home Depot, Walmart 31399 31418 ORG
50th 31458 31462 ORDINAL
2004 31481 31485 DATE
Yale University 31502 31517 ORG
$90 million dollars 31523 31542 MONEY
Joe McNey 31698 31707 PERSON
Walmart Home Depot 31857 31875 ORG
2000 31948 31952 DATE
Walmart 32047 32054 ORG
1954 32080 32084 DATE
Forbes 32274 32280 ORG
400 32281 32284 CARDINAL
Andrew Carnegie's 32328 32345 PERSON
American 32521 32529 NORP
Walmart 32734 32741 ORG
Joe McNey 32932 32941 PERSON
1,000 32998 33003 CARDINAL
Julius Caesar 33060 33073 ORG
Plutarch 33089 33097 ORG
Rome 33300 33304 GPE
400,000 33516 33523 MONEY
about a third 33764 33777 CARDINAL
one month 33794 33803 DATE
2008 33874 33878 DATE
Apple 33912 33917 ORG
a third 33926 33933 CARDINAL
one month 33950 33959 DATE
Steve Jobs 33961 33971 PERSON
Apple 33995 34000 ORG
annual 34055 34061 DATE
2004 34185 34189 DATE
Apple 34297 34302 ORG
Steve Jobs 34407 34417 PERSON
Apple 34754 34759 ORG
100 34805 34808 CARDINAL
2000 34812 34816 DATE
2500 34840 34844 CARDINAL
each month 34947 34957 DATE
Apple 35198 35203 ORG
Every month 35251 35262 DATE
the S & P 500 35357 35370 ORG
Apple 35481 35486 ORG
the S & P 500 35509 35522 ORG
Apple 35668 35673 ORG
one 35783 35786 CARDINAL
second 35875 35881 ORDINAL
Steve Jobs 35896 35906 PERSON
One 35941 35944 CARDINAL
2008 35964 35968 DATE
Steve Jobs 35978 35988 PERSON
a month 36020 36027 DATE
the whole decade of 2000 36040 36064 DATE
the beginning of the 2000s 36069 36095 DATE
December 36134 36142 DATE
January of 2001 36144 36159 DATE
50% 36191 36194 PERCENT
one month 36198 36207 DATE
50% percent 36269 36280 PERCENT
one month 36284 36293 DATE
the preceding two months 36313 36337 DATE
Apple 36472 36477 ORG
MobileMe 36546 36554 ORG
50 36714 36716 DATE
almost 50% 36718 36728 PERCENT
one month 36739 36748 DATE
Apple 36858 36863 ORG
Apple 36879 36884 ORG
two 36906 36909 CARDINAL
the S & P 500 37100 37113 ORG
Apple 37358 37363 ORG
S & P 37624 37629 ORG
Apple 37648 37653 ORG
1.45 37878 37882 CARDINAL
Elan 37953 37957 ORG
Apple 38067 38072 ORG
approximately one and a half 38141 38169 CARDINAL
any day 38212 38219 DATE
the S & P 38285 38294 ORG
Apple 38349 38354 ORG
more than one 38363 38376 CARDINAL
Apple 38499 38504 ORG
Apple 38565 38570 ORG
Apple 38756 38761 ORG
Apple 38869 38874 ORG
one 38924 38927 CARDINAL
Steve Jobs' 38942 38953 PERSON
Steve Jobs 38966 38976 PERSON
Apple and Apple 39009 39024 ORG
second 39210 39216 ORDINAL
Next Computer 39251 39264 ORG
Apple 39281 39286 ORG
the nineties 39322 39334 DATE
Steve Jobs 39374 39384 PERSON
Steve Jobs 39490 39500 PERSON
the month 39744 39753 DATE
Steve Jobs 39778 39788 PERSON
the same month 39837 39851 DATE
Lehman Brothers 39863 39878 ORG
between September and October of 2008 39929 39966 DATE
September 15th 39999 40013 DATE
U.S. 40061 40065 GPE
Lehman Brothers 40075 40090 ORG
500 40194 40197 CARDINAL
minus 16% 40222 40231 PERCENT
one month 40235 40244 DATE
Apple 40269 40274 ORG
only about minus 5% 40290 40309 PERCENT
Steve Jobs 40352 40362 PERSON
Gauss 40809 40814 PERSON
a hundred years ago 40820 40839 DATE
two 41142 41145 CARDINAL
two 41188 41191 CARDINAL
One 41223 41226 CARDINAL
3 41277 41278 CARDINAL
1 41343 41344 CARDINAL
1 41492 41493 CARDINAL
two 41519 41522 CARDINAL
between minus 5 and minus 10 41535 41563 CARDINAL
Yale 41903 41907 ORG
Benoit Mandelbrot 41925 41942 PERSON
Pierre Paul Levy 42049 42065 PERSON
100 42788 42791 CARDINAL
1928 43183 43187 DATE
every day 43189 43198 DATE
every day 43211 43220 DATE
1928 43227 43231 DATE
the S & P Composite Index 43253 43278 ORG
500 43297 43300 CARDINAL
1928 43311 43315 DATE
the S & P 500 43394 43407 ORG
40,000 days 43454 43465 DATE
one day 43563 43570 DATE
between 0 and 43576 43589 DATE
1% 43590 43592 PERCENT
9,000 43598 43603 CARDINAL
between 0 and 43622 43635 DATE
minus 1 percent 43636 43651 PERCENT
8,000 43659 43664 CARDINAL
less than 1% 43719 43731 PERCENT
2% 43775 43777 PERCENT
day 43778 43781 DATE
between 1 43791 43800 CARDINAL
2% 43805 43807 PERCENT
about 2,000 43823 43834 CARDINAL
about 2,000 43846 43857 CARDINAL
between minus 1% 43871 43887 PERCENT
minus 2% 43892 43900 PERCENT
minus 2% 44158 44166 PERCENT
5% 44330 44332 PERCENT
6% 44336 44338 PERCENT
between 5 and 6 44459 44474 CARDINAL
20 days 44498 44505 DATE
1928 44557 44561 DATE
ten years 44582 44591 DATE
8% 44718 44720 PERCENT
this now 44807 44815 DATE
thousands of days 44827 44844 DATE
two 44892 44895 CARDINAL
12.53% 44927 44933 PERCENT
October 30, 1929 44937 44953 DATE
one-day 44974 44981 DATE
October 30, 1929 45250 45266 DATE
October 45368 45375 DATE
October 1929 45411 45423 DATE
ROBERT SHILLER 45481 45495 PERSON
ROBERT SHILLER 45601 45615 PERSON
1929 45696 45700 DATE
two consecutive days 45705 45725 DATE
about 12% 45798 45807 PERCENT
October 28 45811 45821 DATE
the next day 45832 45844 DATE
24% 45902 45905 PERCENT
two days 45909 45917 DATE
the 30th 45936 45944 DATE
one-day 46175 46182 DATE
October 19, 1987 46252 46268 DATE
20.47% 46283 46289 PERCENT
one day 46293 46300 DATE
Dow 46332 46335 ORG
the S & P 46400 46409 ORG
10 46604 46606 CARDINAL
1 over 10 46630 46639 CARDINAL
1 46654 46655 CARDINAL
1 46679 46680 CARDINAL
seventy-one 46693 46704 CARDINAL
October 19, 1987 46773 46789 DATE
25 years 46903 46911 DATE
Merrill Lynch 47349 47362 ORG
one day 47665 47672 DATE
two 47892 47895 CARDINAL
next Wednesday 48524 48538 DATE

'\ntext = "what year Israel was established? few years after 1948."\ndoc =nlp(text)\n\nprint(only_ents(text,doc))\ndisplacy.render(doc, style=\'dep\')\ndisplacy.render(nlp(\'few years after 1948\'), style=\'dep\',jupyter=True)'